<!DOCTYPE html>
<html ng-app="ngFlashcards">
  <head>
   <title>Angular Flashcards</title>
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./main.css" />
  </head>
  <body>
    <div class="container" ng-controller="mainController">
      <h1>Flashcards are cool</h1>
      <div>
        <p ng-if="!isAnswerView">{{currentCard.question}}</p>
        <p ng-if="isAnswerView">{{currentCard.answer}}</p>
        <button ng-if="!isAnswerView" type="button" class="btn btn-default" ng-click="showAnswer()">answer</button>
        <button ng-if="isAnswerView" type="button" class="btn btn-default" ng-click="showQuestion()">question</button>
        <button type="button" class="btn btn-default" ng-click="getCard(currentCardNum - 1)">previous</button>
        <button type="button" class="btn btn-default" ng-click="getCard(currentCardNum + 1)">next</button>
      </div>
          

    </div>
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>